name: release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created:  ${{ steps.release.outputs.releases_created }}
      packages:  ${{ steps.get-released-packages.outputs.result }}
    steps:
      - name: Create GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.PR_CREATOR_APP_ID }}
          private-key: ${{ secrets.PR_CREATOR_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: actions/checkout@v5
        if: ${{ steps.release.outputs.releases_created }}
      - id: get-released-packages
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/github-script@v8
        with:
            github-token: ${{ steps.app-token.outputs.token }}
            script: |
              const path = require('path');
              const outputs = ${{ toJSON(steps.release.outputs) }};
              return Object.keys(outputs)
                .map((key) => {
                  const match = key.match(/^(.*\/.*)--release_created$/);
                  if (!match) return;
                  return require(path.join('${{ github.workspace }}', match[1], 'package.json')).name;
                })
                .filter(Boolean);
  
  npm-publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created && needs.release-please.outputs.packages && fromJson(needs.release-please.outputs.packages || '[]')[0] != null }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.release-please.outputs.packages || '[]') }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install
      - id: package-name
        run: |
          PACKAGE_NAME=$(node -p "PACKAGE_NAME='${{ matrix.package }}'.split('/')[1]")
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_OUTPUT
      - run: npm publish --provenance --access public
        working-directory: packages/${{ steps.package-name.outputs.PACKAGE_NAME }}